<div class="column-right audit-trail-details">
  <h3>Sales Request Audit Trail</h3>
  <hr>
  <h4>Audit Trail Details</h4>
  <div class="content-audit-trail-detials">
      <div><span class="sro-input-label">Sales Request ID: </span><span class="sro-input-value">cart-136</span></div>
      <div><span class="sro-input-label">Sales Application: </span><span class="sro-input-value">Sales Express</span></div>
      <div><span class="sro-input-label">Start Date: </span><span class="sro-input-value">04/16/2018</span></div>
      <div><span class="sro-input-label">Status: </span><span class="sro-input-value">In Progress</span></div>
  </div>
  <hr>
  <div class="content-audit-trail-table">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sales Request ID</th>
            <th scope="col">Order Candidate ID</th>
            <th scope="col">Activity</th>
            <th scope="col">Date &amp; Time</th>
            <th scope="col">Status</th>
            <!-- <th scope="col">Details</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activityLog of selectedOrder.activityLog; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{selectedOrder.salesRequestId}}</td>
            <td></td>
            <td>{{activityLog.activity}}</td>
            <td>{{activityLog.time}}</td>
            <td>{{activityLog.status}}</td>
            <!-- <th scope="col"><button type="button" class="btn btn-primary" (click)="onSelectOrder()">Details</button></th> -->
          </tr>
        </tbody>
    </table>
  </div>
  <hr>
  <div class="back-button"><button type="button" class="btn btn-primary" (click)="onGoBack()">Back</button></div>
</div>

