<div class="column-right order-details" *ngIf="!selectedOrder">
  <h3>Sales Request Order Status</h3>
  <hr>
  <h4>Order Details</h4>
  <div class="content-order-detials">
      <div><span class="sro-input-label">Sales Request ID: </span><span class="sro-input-value">cart-136</span></div>
      <div><span class="sro-input-label">Order Candidate ID: </span><span class="sro-input-value">4651</span></div>
      <div><span class="sro-input-label">Sales Application: </span><span class="sro-input-value">Sales Express</span></div>
      <div><span class="sro-input-label">Factory Application: </span><span class="sro-input-value">OMX</span></div>
      <div><span class="sro-input-label">Sales Request Status: </span><span class="sro-input-value">Submitted</span></div>
      <div><span class="sro-input-label">Order Candidate Status: </span><span class="sro-input-value">In Progress</span></div>
  </div>
  <hr>
  <div class="back-button"><button type="button" class="btn btn-primary" (click)="onGoBack()">Back</button></div>
</div>

