<div class="sro-home" style="margin: 20px 20px 0px 20px;">
  <h3 style="color: #EF6F00;">Sales Request Orchestration</h3>
  <hr>
  <h4 style="color: #067AB4;">Overview</h4>
  <p>At present there are multiple applications responsible for taking in orders for enterprise services from customers. There are also multiple applications responsible for fulfilling those orders (referred to here as service delivery "factories". This sets up a complicated and expensive set of dependencies between these apps, and limits the combinations of enterprise products that can be sold together.  The goal of the Order Orchestration Microservices is to act as middle men to simplify the logic for the various Sales and Service Delivery applications and improve this situation. The business benefit will be to ultimately enable the Business to sell any combination of enterprise products together without being constrained by which Sales and Service Delivery applications support them.</p>
  <p>There are a set of Microservices that together enable this functionality:</p>
  <ul class="styledlist">
      <li>IX Sales Request mS (formerly Shopping Cart mS)</li>
      <li>IX Sales Request Orchestrator mS</li>
      <li>IX Sales Request Analyzer mS</li>
      <li>IX Order Status mS</li>
  </ul>
</div>